{% extends "base.html" %}

{% block title %}Upload Secrets{% endblock %}

{% block content %}
  <script defer src="{{ url_for('static', filename='script.js') }}"></script> <!-- Link external JavaScript -->
  <main class="container">
    <h1>Upload Secrets</h1>
    <p>
      We use military-grade RSA encryption to protect your secrets.
      The JavaScript running in your browser will download <a href="{{ url_for('pk') }}">our public key as PEM</a> and encrypt the contents of the form to the server.
    </p>
    <form id="messageForm" method="post">
      <div class="mb-3">
        <label for="secrets" class="form-label">Input your plaintext secret here:</label>
        <textarea class="form-control" id="secrets" name="ciphertext"></textarea>
        <div id="emailHelp" class="form-text">We'll never share your secrets with anyone else.</div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </main>
{% endblock %}
